<!DOCTYPE html>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<style>
  .btn2{
    border :5px;
    padding:10px;
    
}
</style>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
<form action="/calculate" method="post">

    <div class="mb-3">

      <label for="exampleFormControlInput1" class="form-label">Aeropuerto origen</label>
      <input  class="form-control" id="origen" name="origen" rows="3"></input>

    </div>

    <div class="mb-3">

      <label for="exampleFormControlTextarea1" class="form-label">Aeropuertos a visitar</label>
      <textarea  class="form-control" id="visitar" name="visitar" rows="3"></textarea >
        <div id="emailHelp" class="form-text">Ejemplo formato "BOS,IAD,PHL,MIA"</div>
    </div>
    <div class="mb-3">

      <label for="exampleFormControlTextarea1" class="form-label">Aeropuerto final</label>
      <input  class="form-control" id="Final" name="Final" rows="3"></input >
      
    </div>
    <div class="mb-3">

      <label for="exampleFormControlTextarea1" class="form-label">Dias min</label>
      
      <input  class="form-control" id="diasmin" name="diasmin" rows="3"></input >
      
    </div>

    <div class="mb-3">

      <label for="exampleFormControlTextarea1" class="form-label">Dias max</label>
      <input  class="form-control" id="diasmax" name="diasmax" rows="3"></input >
      
    </div>
    <div class="mb-3">

      <label for="exampleFormControlTextarea1" class="form-label">Fecha Inicio</label>
      <input  class="form-control" id="inicio" name="inicio" rows="3"></input >
      
    </div>
    
    <input type="submit" value="Submit" class="btn2">
    <script src="" async defer class="btn2"></script>
  </form>
  </body>
</div>
</html>